@use "../../../styles.scss" as *;

.calculadora {
    width: 340px;
    color: $colores-texto;
    border-radius: $border-bordes;
    padding: 25px 25px;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: $typography-menu;
    margin-top: 70px;
    box-shadow: -6px 6px 7px rgba(0, 0, 0, 0.229);

    .barra-voz {
        border: 3px solid $colores-finales;
        border-radius: $border-bordes;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .btn-voz {
            background-color: $colores-voz;
            border: 0;
            border-radius: 12px;
            padding: 22px 22px;
            box-shadow: 3px 0px 8px #e3e3e3c0;

            .fas {
                font-size: 24px;
            }
        }

        p {
            padding: 0px 22px;
        }

    }

    .teclas {
        padding-top: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .btn-numeros {
            color: $colors-primary-03;
            border: none;
            border-radius: $border-bordes;
            margin: 7px 10px;
            font-size: $typography-menu;
            width: 65px;
            height: 64px;
            transition: transform 0.2s ease;

            &:active {
                transform: scale(0.95);
            }
        }

        .btn-operadores {
            background-color: $colores-operadores;
            color: $colors-primary-03;
            border: none;
            border-radius: $border-bordes;
            margin: 7px 10px;
            font-size: $typography-menu;
            width: 65px;
            height: 64px;
            transition: transform 0.2s ease;

            &:active {
                transform: scale(0.95);
            }

            &:hover {
                cursor: pointer;
                background-color: $colores-operadores-hover;
            }
        }

        .btn-finales {
            color: $colors-primary-03;
            border: none;
            border-radius: $border-bordes;
            margin: 7px 10px;
            font-size: $typography-menu;
            width: 65px;
            height: 64px;
            transition: transform 0.2s ease;

            &:active {
                transform: scale(0.95);
            }
        }
    }

}