<div class="calculadora">
    <div class="barra-voz">
        <button class="btn-voz"><i class="fas fa-microphone" aria-hidden="true"></i></button>
        <p class="resultado"> 0 </p>
    </div>
    <div class="teclado">
        <button class="btn-numeros">1</button>
        <button class="btn-numeros">2</button>
        <button class="btn-numeros">3</button>
        <button class="btn-operadores">+</button>
        <button class="btn-numeros">4</button>
        <button class="btn-numeros">5</button>
        <button class="btn-numeros">6</button>
        <button class="btn-operadores">-</button>
        <button class="btn-numeros">7</button>
        <button class="btn-numeros">8</button>
        <button class="btn-numeros">9</button>
        <button class="btn-operadores">*</button>
        <button class="btn-finales">C</button>
        <button class="btn-numeros">0</button>
        <button class="btn-finales">=</button>
        <button class="btn-operadores">/</button>
    </div>

</div>