/* colores */
$colors-header: rgb(165 53 255);
$colors-primary-01: rgb(115 39 174);
$colors-primary-02: rgb(38 149 195);
$colors-primary-03: rgb(255 255 255);
$colors-secondary-01: rgb(32 32 31);
$colors-secondary-02: rgb(53 53 71);
$colors-secondary-03: rgb(170 58 185);

/* bordes */
$border-bordes: 15px;
$border-theme: 132px;

/* grid */
$grid-grid-small: 4px;
$grid-grid-medium: 8px;
$grid-grid-desktop: 12px;

/* tamaño letra */
$typography-parrafos: 16px;
$typography-menu: 20px;
$typography-h3: 30px;
$typography-h2: 42px;
$typography-h1: 56px;

/* fuente */
$font-family-defecto: 'Roboto';
$font-family-menu: 'Merriweather';
$font-family-parrafo: 'Roboto';

.container {
  width: 90%;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  src: url(assets/fonts/Roboto/static/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: normal;
  src: url(assets/fonts/Merriweather/static/Merriweather_24pt-Regular.ttf) format('truetype');
}

.light-mode {
  body {
    background-color: $colors-primary-03;
  }

  .fondo h2 {
    color: $colors-primary-03;
  }

  header .item2-menu a {
    color: $colors-primary-03;
  }
  p{
    color: $colors-secondary-01;
  }
  footer p{
    color: $colors-primary-03;
  }

}


.dark-mode {
  body {
    background-color: $colors-secondary-02;
  }

  .fondo h2 {
    color: $colors-secondary-01;
  }

  header .item2-menu a {
    color: $colors-secondary-01;
  }
  p{
    color: $colors-primary-03;
  }
  footer p{
    color: $colors-secondary-01;
  }
  
}