/* Mode 1 */
/* color */
$colors-header: rgb(165 53 255);
$colors-primary-01: rgb(115 39 174);
$colors-primary-02: rgb(38 149 195);
$colors-primary-03: rgb(255 255 255);
$colors-secondary-01: rgb(32 32 31);
$colors-secondary-02: rgb(53 53 71);
$colors-secondary-03: rgb(170 58 185);
/* number */
$border-bordes: 15px;
$grid-grid-small: 4px;
$grid-grid-medium: 8px;
$grid-grid-desktop: 12px;
$typography-parrafos: 16px;
$typography-menu: 20px;
$typography-h3: 30px;
$typography-h2: 42px;
$typography-h1: 56px;
/* string */
$font-family-defecto: Roboto;
$font-family-menu: Merriweather;
$font-family-parrafo: Roboto;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color: $colors-header;
    width: 100%;
    h1 {
        padding: 0;
        margin: 0;
    }
}