<header>
    <div class="container">
    <div class="items">
        
            <div class="item1-logo">
                <img src="assets/img/logo.png" alt="logo" />
            </div>

            <nav class="item2-menu">
            <!-- No funcionan los link, me quiero morir AAAA --><a routerLink="inicio" routerLinkActive="active">Inicio</a>
                <a routerLink="como-funciona" routerLinkActive="active">Cómo funciona</a>
                <a routerLink="accesibilidad" routerLinkActive="active">Accesibilidad</a>
            </nav>

            <div class="item3-modo">

            </div>
        </div>
    </div>

</header>