<header>
    <div class="container">
        <div class="items">

            <div class="item1-logo">
                <img src="assets/img/logo.png" alt="logo" />
            </div>

            <button class="menu-hamburguesa" (click)="toggleMenu()" aria-label="Menú">
                
                <img [src]="isDarkMode ? '../../../assets/img/hamburguesa-dark.png' : '../../../assets/img/hamburguesa-light.png'" alt="">
            </button>

            <nav class="item2-menu" [class.active]="menuOpen">
                <a routerLink="/inicio" routerLinkActive="active">Inicio</a>
                <a routerLink="/como-funciona" routerLinkActive="active">Cómo funciona</a>
                <a routerLink="/accesibilidad" routerLinkActive="active">Accesibilidad</a>
            </nav>

            <div class="item3-modo">
                <app-theme-mode></app-theme-mode>
            </div>
        </div>
    </div>

</header>