@use "../../../styles.scss" as *;
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;
    justify-content: center;
}

header {
    background-color: $colors-header;
    width: 100%;
    font-family: $font-family-menu;

    .items {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .item1-logo {
            padding: 10px 0px;
        }

        .item2-menu {
            a {
                padding: 30px;
                text-decoration: none;
                color: $colors-secondary-01;
            }
        }
    }
}