@use "../../../styles.scss" as *;
.fondo {
    background-image: linear-gradient(to bottom, #A535FF, #2695C3);
    height: 401px;
    justify-content: center;
    display: flex;
    align-items: center;

    h2 {
        padding: 0;
        margin: 0;
        width: 50%;
        font-size: $typography-h2;
        font-family: $font-family-defecto;
        font-weight: normal;
        color: $colors-secondary-01;
    }
}
